<div class="page-header">
  <div>
    <h1 class="page-title">Edit Artist</h1>
    <p class="page-subtitle">Modify artist details</p>
  </div>
</div>

<div class="section-box">
  <%= render 'form', artist: @artist %>
</div>
