<div class="page-header">
  <div>
    <h1 class="page-title">Add Artist</h1>
    <p class="page-subtitle">Register a new artist in the system</p>
  </div>
</div>

<div class="section-box">
  <%= render 'form', artist: @artist %>
</div>
